.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* background-color: antiquewhite; */
}
.option {
  width: 250px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
}
.correct {
  background-color: green;
}
.wrong {
  background-color: brown;
}
